.edu-list {
    margin-top: 40px;
    padding: 45px 25px;

    max-width: 1024px;
    min-width: 320px;
    width: 100%;
    
    // box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    background-color: white;
    // border: 1px solid darkcyan;

    &__title {
        margin-left: 8px;
    }
    &__blocks {
        display: flex;
        flex-wrap: wrap;
    }
}

.edu-block {  
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 9px 8px;
    padding: 10px;
    padding-bottom: 5px;

    max-width: 100%;
    min-width: 240px;
    width: fit-content;
    max-height: 100%;
    min-height: 78px;
    height: 100%;

    // border: 1px solid darkcyan;
    background-color: #f5f7f1;
    border-radius: 2px;
    position: relative;
    &__year {
        position: absolute;
        top: -18px;
        right: 0;
        font-size: 12px;
        color: rgb(85, 85, 85);
    }
    &__details {
        text-align: justify;
    }
    &__link {
        text-align: center;
    }
    &__location {
        text-align: right;
    }
    &__description {
        margin-right: 2px;
        text-align: right;
    }
    &__title {
        margin-bottom: 3px;
    }

    &__blocks {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;
        .edu-block {
            border: none;
            margin: 1px;
            border-collapse: collapse;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
        }
    }
}

.stack-list {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__tech {
        flex-grow: 1;
        text-align: center;
        max-height: 22px;
        padding: 3px;
        margin: 2px;
        font-size: 11px;
        line-height: 12px;
        // border: 1px solid rgba(0, 0, 0, 0.13);
        background-color: #e0e9de;
        border-radius: 2px;
        &_important {
            // border: 1px solid darkcyan;
            background-color: #99b4a4;
        }
        &_useful {
            // border: 1px solid rgb(0, 0, 0);
            background-color: #c5cfc0;
        }
    }
}