mixin card(props)
  - var resume = props.info
  - var sources = props.files
  - var backside = props.backside

  //- Лицевая сторона визитки
  if (!backside)
    +b.ARTICLE.card_frontside
      +b.avatar
        +e.photo(src=sources.avatar)
      +b.P.about-msg= resume.short
      +b.SECTION.person
        +e.H1.name= `${resume.firstname} ${resume.lastname}`
        +e.P.profession= resume.profession
      +b.UL.contact-list
        +e.LI.item
          +b.contact
            +e.A.link(href='#')= resume.location
        +e.LI.item
          +b.contact
            +e.A.link(href='#')= resume.github
        +e.LI.item
          +b.contact
            +e.A.link(href='#')= resume.telegramm
        +e.LI.item
          +b.contact
            +e.A.link(href='#')= resume.phone
        +e.LI.item
          +b.contact
            +e.A.link(href='#')= resume.email
      +b.UL.lang-list
        each lang in resume.language
          +e.LI.language= lang

  //- Задняя сторона визитки
  else
    +b.ARTICLE.card_backside
      //- Профессиональные навыки
      +b.SECTION.skills
        +e.H2.title= 'Навыки:'
        +b.UL.skill-list
          each skill in resume.skills
            +e.LI.skill= skill
      //- Технологии
      +b.SECTION.techs
        +e.H2.title= 'Технологии:'
        +b.UL.tech-list
          each tech in resume.techs
            +e.LI.tech= tech.name