.card {
    max-width: 600px;
    max-height: 333px;
    min-width: 320px;
    min-height: 333px;
    width: 100%;
    height: 100%;
    // border: 1px solid red;

    position: relative;
    &_dragged {
        position: absolute;
        z-index: 10;
    }
    &_none {
        display: none;
    }
    &_animation {
        &_rotate-left {
            animation: card-rotate-left 1.5s ease-in-out;
        }
        &_rotate-right {
            animation: card-rotate-right 1.5s ease-in-out;
        }
        &_scale {
            animation: card-scale 0.5s ease-in-out;
        }
        &_opacity {
            opacity: 1;
            animation: card-opacity 0.05s ease-in-out;
        }
        @keyframes card-rotate-left {
            from {
                transform: rotate(2deg);
            }
        }
        @keyframes card-rotate-right {
            from {
                transform: rotate(-2deg);
            }
        }
        @keyframes card-scale {
            50% {
                transform: scale(0.8);
                filter: blur(1px);
            }
        }
        @keyframes card-opacity {
            from {
                opacity: 0.7;
            }
        }
    }

    transition: transform 0.5s ease-in;
}

.card__frontside,
.card__backside {
    width: 100%;
    height: 100%;
    
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    background-color: white;

    overflow: hidden;
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    
    padding: 10px;

    &_none {
        display: none;
    }
    .drag-field,
    .flip-field {
        position: absolute;
        bottom: 0;
        border-left: 2px dashed #e0e9de;
        z-index: 0;
        opacity: 1;
        animation: field-opacity 0.5s ease-in-out;
    }
    .drag-field {
        right: 0;
        width: 12px;
        height: 100%;
        border-bottom: none;
        border-right: none;
        cursor: grab;
    }
    .flip-field {
        left: 0;
        height: 6px;
        width: 100%;
        cursor: ns-resize;
    }
    @keyframes field-opacity {
        from {
            opacity: 0;
        }
    }

    touch-action: none;
}
.card__frontside {
    flex-direction: column;
    .avatar {
        cursor: auto; 
        border-bottom-left-radius: 100%;
        overflow: hidden;
        position: absolute;
        width: 270px;
        height: 270px;
        top: 0;
        right: 0;
        z-index: 1;
        &__photo {
            position: absolute;
            top: -55%;
            left: -65%;
            width: 250%;
        }
    }    
    .about-msg {
        cursor: auto;    
        
        align-self: flex-end;
    
        margin-right: 150px;
        padding: 10px;
        
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        
        border: 1px solid #c5cfc0;
        border-top-right-radius: 25px;
        border-left: 7px solid #99b4a4;
    
        background-color: white;
    
        position: relative;
        z-index: 1;
    }
    .person {
        cursor: auto; 
        // border: 1px solid blue;
        align-self: center;
        margin-right: 240px;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        &__name {
            line-height: 36px;
            font-size: 30px;
        }
        &__profession{
            line-height: 36px;
            font-size: 20px;
            color: gray;
        }
    }
    .contact-list {
        cursor: auto; 
        margin-bottom: 10px;
        display: flex;
        align-self: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        &__item {
            margin-right: 8px;
            margin-top: 8px;
            &:nth-child(1) ::before {
                background: no-repeat center url('./home.png');
                background-size: 90%;
            }
            &:nth-child(2) ::before {
                background: no-repeat center url('./github.png');
                background-size: 90%;
            }
            &:nth-child(3) ::before {
                background: no-repeat center url('./telegram.png');
                background-size: 90%;
            }
            &:nth-child(4) ::before {
                background: no-repeat center url('./phone.png');
                background-size: 90%;
            }
            &:nth-child(5) ::before {
                background: no-repeat center url('./email.png');
                background-size: 90%;
            }
        }
    } 
    .contact {
        a[href="copy/"] {
            cursor: copy; 
        }
        cursor: auto; 
        position: relative;
        padding-left: 20px;
            
        font-size: 10px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            opacity: 0.9;
        }
        &:hover::before {
            opacity: 1;
            transform: scale(1.3);
        }
        
    }
    .lang-list {
        cursor: help; 
        position: absolute;
        top: 5px;
        right: 10px;
        display: flex;
        flex-direction: column;
        z-index: 1;
        &__language {
            margin-top: 5px;
            position: relative;
            border-radius: 4px;
            border: 2px solid #C98C8C;
            color: #C98C8C;
            background-color: white;
            padding: 1px 5px;
            user-select: none; 
            &:last-child {
                border-color: #607C8C;
                color: #607C8C;
            }
        }
    }
    @mixin small {
        .person {
            order: 3;
            margin-right: 0;
            align-self: flex-start;
            &__name {
                order: 2;
            }
        }
        .contact-list {
            order: 2;
            align-self: center;
            flex-direction: column;
            margin-bottom: 0;
            margin-right: 150px;
            margin-top: 20px;
        }
    }
    &_small { @include small; }
    @media only screen and (max-width : 440px) { @include small; }
}
.card__backside {
    .techs,
    .skills { 
        width: 50%;
        padding: 10px;
        
        overflow: auto;
        display: flex;
        flex-direction: column;
    }
    .skill-list {
        cursor: auto;
        display: flex;
        flex-direction: column;
        &__skill {
            font-size: 12px;
            line-height: 18px;
            padding: 3px 0;
            // border-bottom: 1px solid rgba(0, 139, 139, 0.301);
            border-bottom: 1px solid #c5cfc0;

        }
    }
    .tech-list {
        cursor: auto;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        &__tech {
            cursor: help;
            align-self: center;
            max-height: 32px;
            padding: 6px;
            margin: 2px;
            font-size: 16px;
            line-height: 16px;
            border: 1px solid #c5cfc0;
            border-radius: 10px;
        }
    }
}

.card-zone {
    max-width: 600px;
    max-height: 333px;
    min-height: 333px;
    width: 100%;
    height: 100%;
    // border: 1px solid blue;
    &_abandoned {
        border: 1px dashed rgb(58, 58, 58);
    }
    &_aimed {
        box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.9);
        transition: all 0.2s ease;
    }
}

.copy-message {
    position: fixed;
    top: 40%;
    padding: 30px;
    // width: 300px;
    // height: 50px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border: 1px solid #99b4a4;
    border-radius: 20px;
    background-color: #f5f7f1;
    z-index: 1000;
}

body.grabbing {
    cursor: grabbing;
    .card .drag-field {
        cursor: grabbing;
    }
}

