mixin additional-info(props)
  - var info = props.info

  +b.ARTICLE.additional-info
    +e.H2.title= 'Также о себе'
    +e.content= info
    +e.extra-ref
        SPAN= 'Ссылка на резюме: '
        +b.A.link(href='https://igor-smolkov.github.io/resume/')= 'https://igor-smolkov.github.io/resume/'