extends layout

include components/card/card.pug

block variables
  - var title = 'РЕЗЮМЕ'
  - var descr = 'Игорь Смольков - фронтэндер'

block content
    +card('frontside')
    +card('backside')
    article.background
      span Образование и проекты
    article.underground
      span Интересы и прочая деятельность