extends layout

include components/card/card.pug
include components/edu-list/edu-list.pug
include components/additional-info/additional-info.pug

block variables
  - var title = 'РЕЗЮМЕ'
  - var descr = 'Игорь Смольков - фронтэндер'
  -
    var resume = {
      "firstname": "Игорь",
      "lastname": "Смольков",
      "middlename": "Олегович",
      "birthday": "05.04.1996",
      "location": {
        "name": "Томск",
        "link": "https://go.2gis.com/q81vq"
      },
      "profession": "фронтэндер",
      
      "email": "smolkov.igor@gmail.com",
      "phone": "+7-983-211-06-01",
      "telegramm": {
        "name": "@IgorNonumber",
        "link": "https://t.me/IgorNonumber"
      },
      "github": {
        "name": "igor-smolkov",
        "link": "https://github.com/igor-smolkov"
      },
      
      "experience": "Без опыта комерческой разработки",
      "language": [ "RU", "EN" ],
      "skills": [
        "Отзывчивая верстка (responsitive)",
        "Адаптивная верстка (adaptive)",
        "Кроссбраузерность",
        "Компонетная разработка",
        "Unit-тестирование",
        "БЭМ стандарты (BEM)",
        "Контроль версиий",
        "Рефакторинг",
        "Минификация",
        "Модульность"
      ],
      "techs": [
        { 
          "name": "HTML", 
          "v": "5", 
          "desc": "язык гипертекстовой разметки" 
        },
        { 
          "name": "CSS", 
          "v": "3", 
          "desc": "язык разметки стилей" 
        },
        { 
          "name": "JavaScript", 
          "v": "ES6", 
          "names": [ "JavaScript", "JScript", "JS" ],
          "desc": "язык программирования"
        },
        { 
          "name": "React", 
          "desc": "js фреймворк" 
        },
        { 
          "name": "Git", 
          "desc": "система контроля версий" 
        },
        { 
          "name": "SCSS", 
          "names":[ "SCSS", "SASS" ], 
          "desc": "препроцессор css" 
        },
        { 
          "name": "jQuery", 
          "desc": "js библиотека" 
        },
        { 
          "name": "JSON", 
          "desc": "формат данных" 
        },
        { 
          "name": "Pug", 
          "names": [ "Pug", "Jade" ], 
          "desc": "препроцессор html" 
        },
        { 
          "name": "Jest", 
          "desc": "тестирование" 
        },
        { 
          "name": "npm", 
          "desc": "пакетный менеджер" 
        },
        { 
          "name": "VSCode", 
          "names": [ "VSCode", "visual studio code" ], 
          "desc": "IDE" 
        },
        { 
          "name": "JSX", 
          "desc": "синтаксис" 
        },
        { 
          "name": "AJAX"
        }
      ],
      
      "short": "быстро учусь, заинтересован в прокачивании навыков на реальных проектах",
      "long": "писал и играл электронную музыку, организовывал концерты, выставки современного искусства, хеппенинги, перформансы, семинары, арт-пространства, поддерживал и создавал различные самоорганизации и горизонтальные инициативы, выступал как художник, виджей, диджей, музыкант",
      
      "edu": {
        "courses": [
          {
            "year": 2020,
            "name": "Образовательная программа FullStack Development",
            "details": "2 уровня теории + 2 уровня практики",
            "link": {
              "description": "Подробнее о программе",
              "url": "https://www.fullstack-development.com/front-end-education"
            },
            "projects": [
              {
                "details": "Практика отзывчивой компонентной верстки",
                "name": "Toxin - макет сайта отеля",
                "stack": [
                  "HTML", "Pug", "CSS", "SCSS", "JavaScript", "jQuery", "npm", "Webpack", "Git"
                ],
                "link": {
                  "description": "Результат на Github Pages",
                  "url": "https://igor-smolkov.github.io/toxin/"
                }
              },
              {
                "details": "Практика разработки собственного кастомизируемого компонента",
                "name": "Слайдер диапазона значений",
                "stack": [
                  "HTML", "Pug", "CSS", "SCSS", "JavaScript", "TypeScript", "npm", "Webpack", "Git"
                ],
                "link": {
                  "description": "Репозиторий проекта на Github",
                  "url": "https://github.com/igor-smolkov/event-slider"
                }
              }
            ]
          },
          {
            "year": 2019,
            "name": "HTML Academy",
            "details": "Полный курс HTML, CSS и основ веб-разбработки",
            "projects": [
              {
                "details": "Практика верстки",
                "name": "Великий Кексби - интернет-магазин",
                "stack": [
                  "HTML", "CSS", "Less", "JavaScript", "SVG"
                ]
              }
            ],
            "link": {
              "description": "Статистика профиля",
              "url": "https://htmlacademy.ru/profile/id915527"
            }
          }
        ],
        "universities": [
          {
            "year": 2018,
            "name": "Томский Университет Систем Управления и Радиоэлетроники",
            "location": "Томск",
            "qualification": "Инженер промышленной электроники",
            "gradwork": {
              "description": "Выпускная квалификационная работа",
              "name": "Подсистема инвентаризации в ТО ФГС Кемеровостат",
              "stack": [ 
                "Java", "XML", "UML", "SQLite", "AndroidStudio", "Firebird", "IBExpert" 
              ]
            },
            "projects": [
              {
                "description": "Ежегодная конференция факультета",
                "name": "Автоматизированный комплекс выращивания растений",
                "stack": [
                  "STM32", "C", "Keil", "Sprint-Layout", "Blender"
                ]
              }
            ]
          }
        ],
        "schools": [
          {
            "year": 2014,
            "name": "Городской Классический Лицей",
            "location": "Кемерово",
            "profile": "Информационные технологии",
            "projects": [
              {
                "description": "Лауреат лицейской конференции, 2012",
                "name": "SPA для составления макета сайта",
                "stack": [
                  "HTML", "CSS", "JavaScript", "jQuery", "AJAX", "PHP", "MySQL"
                ],
                "prizewinner": true
              },
              {
                "description": "Лауреат лицейской конференции, 2013",
                "name": "Генератор музыкальных идей",
                "stack": [ "Delphi 7" ],
                "prizewinner": true
              }
            ]
          },
          {
            "year": 2010,
            "name": "Гимназия №17",
            "location": "Кемерово",
            "profile": "Экономика",
            "projects": [
              {
                "description": "Лауреат городской конференции, 2009",
                "name": "Программа для подбора конфигурации компьютера",
                "stack": [ "VisualBasic" ],
                "prizewinner": true
              },
              {
                "description": "Лауреат школьной конференции, 2007",
                "name": "Программа для перевода единиц измерения",
                "stack": [ "QBasic" ],
                "prizewinner": true
              }
            ]
          }
        ],
        "projects": [
          {
            "description": "Конференция ЛШЮП, Новосибирск",
            "year": 2012,
            "name": "Трассировщик лучей",
            "stack": [
              "C++", "Microsoft Visual Studio 2010", "Git"
            ]
          },
          {
            "description": "Конференция ЛШЮП, Новосибирск",
            "year": 2011,
            "name": "Интернет-ТВ",
            "stack": [
              "JavaScript", "HTML", "CSS", "C#", "Говорилка", "FL Studio"
            ]
          },
          {
            "description": "Конференция ЛШИП, Новосибирск",
            "year": 2010,
            "name": "Web-портал на самописной CMS",
            "stack": [
              "HTML", "CSS", "PHP", "MySQL"
            ]
          }
        ]
      }
    }
  -
    var sources = {
      "avatar": "./images/me.jpg"
    }

block content
    +card({ info: resume, files: sources })
    +card({ info: resume, backside: true })
    +edu-list({ info: resume.edu })
    +additional-info({ info: resume.long })