@import 'reset.css';

.page {
    max-width: 1920px;
    min-width: 320px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 18px;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    line-height: 30px;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(85, 85, 85);
    line-height: 30px;
    text-transform: uppercase;
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(58, 58, 58);
    line-height: 18px;
}
h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(85, 85, 85);
    line-height: 18px;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 14px;

    background-color: #9EAA99;

    display: flex;
    flex-direction: column;
    align-items: center;
}